<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in</title>
    <nav>
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="register">Register</a></li>
        </ul>
    </nav>
</head>
<body>
    <div class="container">
    <h1>Sign In</h1>
    <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Sign In">
    </form>
    <p>You are not registered? <a class ="move2Register" href="register">Sign up now</a></p>
    </div>
</body>
</html>
